{%extends 'base.html'%}
{%block content%}

<h2>Cadastro de Itens e Preços</h2>
<hr>

<form action="{{url_for('catalogo')}}" method="POST">

    <label for="">Item</label>
    <input type="text" name="item" id="">
    <br>
    <label for="">Data</label>
    <input type="text" name="data" id="">
    <br>
    <label for="">Valor</label>
    <input type="text" name="valor" id="">
    <br>
    <label for="">Ultima Aparição na Loja</label>
    <input type="text" name="ultima" id="">
    <br>
    <input type="submit" value="Cadastrar">
    <br>
<hr>

    <h3>Catálogo de Itens</h3>

    <table border="1">
        <tr>
<th>Item</th>
<th>Data</th>
<th>Valor</th>
<th>Ultima Aparição na Loja</th>

        </tr>

    {%for item in itens %}
    <tr>
        <td>{{item.Item}}</td>
        <td>{{item.Data}}</td>
        <td>{{item.Valor}}</td>
        <td>{{item.Ultima}}</td>

    </tr>
    {% endfor%}


</table>

</form>

{%endblock content%}